body {
    font-family: Arial, sans-serif;
    background-color: #93d2dc; /* Màu nền nhạt */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#wrapper {
    background-color: rgb(124, 243, 144);
    border-style: double;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#map{
    position: fixed; /* Đặt bản đồ ở vị trí tuyệt đối */
    top: 40px;
    left: 0;
    width: 100%; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    border: none; 
    z-index: 1; 

}

#button{
    position: fixed;
    align-items: right;
}

#stat_button {
    background-color: #07a5a5; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

#stat_button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

/* Định dạng nút bấm trong navbar */
#navbar ul li button {
    background-color: #07a5a5; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#navbar ul li button:hover {
    background-color: #0056b3; /* Màu xanh dương đậm hơn */
    transform: scale(1.05);
}

#content{
    margin-top: 2%;
}